In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Hari\Downloads\US_AQI.csv')

In [3]:
df.head()

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
1,1,10140,2022-01-02,12,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
2,2,10140,2022-01-03,18,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
3,3,10140,2022-01-04,19,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
4,4,10140,2022-01-05,17,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

In [4]:
df.describe()

,Unnamed: 0,CBSA Code,AQI,Number of Sites Reporting,lat,lng,population,density
count,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06,5.617325e+06
mean,2.858637e+06,3.028285e+04,4.665572e+01,3.650273e+00,3.849210e+01,-9.425695e+01,5.642292e+05,1.083637e+03
std,1.650380e+06,1.142715e+04,3.570811e+01,5.092484e+00,5.595372e+00,1.678664e+01,1.537382e+06,1.013632e+03
min,0.000000e+00,1.010000e+04,0.000000e+00,1.000000e+00,1.797430e+01,-1.593521e+02,1.903000e+03,4.000000e+00
25%,1.430628e+06,2.010000e+04,3.000000e+01,1.000000e+00,3.494420e+01,-1.069642e+02,2.843700e+04,5.250000e+02
50%,2.857802e+06,3.034000e+04,4.100000e+01,2.000000e+00,3.918860e+01,-8.893420e+01,1.225490e+05,8.340000e+02
75%,4.287185e+06,4.042000e+04,5.400000e+01,4.000000e+00,4.211550e+01,-8.154200e+01,3.913710e+05,1.255000e+03
max,5.718370e+06,4.974000e+04,2.064600e+04,7.200000e+01,6.483530e+01,-6.606100e+01,1.868002e+07,1.076800e+04

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5617325 entries, 0 to 5617324
Data columns (total 15 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   CBSA Code                  int64
 2   Date                       object
 3   AQI                        int64
 4   Category                   object
 5   Defining Parameter         object
 6   Number of Sites Reporting  int64
 7   city_ascii                 object
 8   state_id                   object
 9   state_name                 object
 10  lat                        float64
 11  lng                        float64
 12  population                 float64
 13  density                    float64
 14  timezone                   object
dtypes: float64(4), int64(4), object(7)
memory usage: 642.9+ MB

In [6]:
category = df['Category'].unique()
print(category)

['Good' 'Moderate' 'Unhealthy for Sensitive Groups' 'Unhealthy'
 'Hazardous' 'Very Unhealthy']

In [7]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
CBSA Code - 0%
Date - 0%
AQI - 0%
Category - 0%
Defining Parameter - 0%
Number of Sites Reporting - 0%
city_ascii - 0%
state_id - 0%
state_name - 0%
lat - 0%
lng - 0%
population - 0%
density - 0%
timezone - 0%

In [11]:
category_mean_air_quality = df.filter(['AQI','Category', 'population', 'density'])
category_mean_air_quality = category_mean_air_quality.groupby('Category').mean().reset_index()
category_mean_air_quality = category_mean_air_quality.sort_values('AQI').reset_index()
category_mean_air_quality.head(6)

,index,Category,AQI,population,density
0,0,Good,32.591690,3.622058e+05,989.662405
1,2,Moderate,66.927287,9.320188e+05,1258.293013
2,4,Unhealthy for Sensitive Groups,119.516372,1.316164e+06,1421.754267
3,3,Unhealthy,168.011963,1.702585e+06,1651.150088
4,5,Very Unhealthy,220.696322,3.560533e+06,2208.413188
5,1,Hazardous,848.285227,9.597033e+05,960.080682

In [20]:
category_mean_air_quality_state = df.filter(['Date','AQI', 'state_name', 'Category', 'population', 'density'])
category_mean_air_quality_state['month'] = pd.DatetimeIndex(category_mean_air_quality_state['Date']).month
category_mean_air_quality_state['year'] = pd.DatetimeIndex(category_mean_air_quality_state['Date']).year
category_mean_air_quality_state.head()

         Date  AQI  state_name Category  population  density  month  year
0  2022-01-01   21  Washington     Good     16571.0    588.0      1  2022
1  2022-01-02   12  Washington     Good     16571.0    588.0      1  2022
2  2022-01-03   18  Washington     Good     16571.0    588.0      1  2022
3  2022-01-04   19  Washington     Good     16571.0    588.0      1  2022
4  2022-01-05   17  Washington     Good     16571.0    588.0      1  2022

In [21]:
category_mean_air_quality_state2 = category_mean_air_quality_state.groupby(['state_name','year','month']).mean().reset_index()
category_mean_air_quality_state2 = category_mean_air_quality_state2.sort_values(['state_name','year','month']).reset_index()
category_mean_air_quality_state2.head(20)

    index state_name  year  month        AQI     population     density
0       0    Alabama  1980      1  39.567568  293585.432432  401.513514
1       1    Alabama  1980      2  43.452632  376008.431579  440.421053
2       2    Alabama  1980      3  37.109091  375641.727273  462.145455
3       3    Alabama  1980      4  53.539130  362357.182609  455.521739
4       4    Alabama  1980      5  66.277311  349231.974790  461.285714
5       5    Alabama  1980      6  70.751880  321007.616541  478.526316
6       6    Alabama  1980      7  92.965909  402058.181818  435.340909
7       7    Alabama  1980      8  84.087912  412905.703297  455.494505
8       8    Alabama  1980      9  79.482353  474650.000000  474.176471
9       9    Alabama  1980     10  51.623288  366054.876712  508.684932
10     10    Alabama  1980     11  47.264000  377909.904000  509.064000
11     11    Alabama  1980     12  42.990991  381919.657658  505.972973
12     12    Alabama  1981      1  33.705584  289740.878173  477.157360
13     13    Alabama  1981      2  43.778378  281959.167568  466.724324
14     14    Alabama  1981      3  58.923469  287313.137755  469.647959
15     15    Alabama  1981      4  59.926966  306255.280899  477.803371
16     16    Alabama  1981      5  75.902913  274555.058252  469.582524
17     17    Alabama  1981      6  61.818681  282978.148352  470.659341
18     18    Alabama  1981      7  70.317365  316024.694611  478.616766
19     19    Alabama  1981      8  66.325967  305925.121547  484.950276

In [23]:
category_mean_air_quality_state2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26051 entries, 0 to 26050
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       26051 non-null  int64
 1   state_name  26051 non-null  object
 2   year        26051 non-null  int64
 3   month       26051 non-null  int64
 4   AQI         26051 non-null  float64
 5   population  26051 non-null  float64
 6   density     26051 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 1.4+ MB

In [25]:
category_mean_air_quality_state2.to_csv(r"C:\Users\Hari\Downloads\category_mean_air_quality_state2.csv", index = False, sep=',', encoding='utf-8')

In [26]:
category_mean_air_quality.to_csv(r"C:\Users\Hari\Downloads\category_mean_air_quality.csv", index = False, sep=',', encoding='utf-8')